.body {
  background: white;
}

.card .header {
  background: white;
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.btn-primary:disabled {
  pointer-events: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ico {
  position: absolute;
  right: 10px;
}
