<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Add Invoice</h1>
                    <span>Create hospital bill</span>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="card">
                    <div class="body">
                        <form [formGroup]="billForm" (ngSubmit)="submitBill()">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Patient Information</label>
                                <div class="col-md-6 col-sm-10">
                                    <div class="form-group">
                                        <select class="form-control" formControlName="patientId">
                                            <option value="">Select patient</option>
                                            <option *ngFor="let patient of patients" [value]="patient._id">{{ patientName(patient) }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" formControlName="appointmentId">
                                            <option value="">Optional appointment</option>
                                            <option *ngFor="let appointment of appointments" [value]="appointment._id">
                                                {{ appointment.appointmentNo }} - {{ appointment.appointmentDate | date:'mediumDate' }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-5">
                                <label class="col-sm-2 col-form-label">Bill Items</label>
                                <div class="col-md-8 col-sm-10">
                                    <div formArrayName="items">
                                        <div class="row mb-2" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                                            <div class="col-md-5">
                                                <input class="form-control" placeholder="Description" formControlName="description">
                                            </div>
                                            <div class="col-md-2">
                                                <input class="form-control" type="number" placeholder="Qty" formControlName="quantity">
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" type="number" placeholder="Unit price" formControlName="unitPrice">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-danger btn-block" (click)="removeItem(i)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default" (click)="addItem()">Add Item</button>
                                </div>
                            </div>

                            <div class="form-group row mt-5">
                                <label class="col-sm-2 col-form-label">Payment Information</label>
                                <div class="col-md-6 col-sm-10">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Discount</label>
                                            <input type="number" class="form-control" formControlName="discount">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Tax</label>
                                            <input type="number" class="form-control" formControlName="tax">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Paid Amount</label>
                                            <input type="number" class="form-control" formControlName="paidAmount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        <select class="form-control" formControlName="paymentMethod">
                                            <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <strong>Subtotal:</strong> {{ subtotal() }} |
                                        <strong>Grand Total:</strong> {{ grandTotal() }}
                                    </div>
                                    <button class="subscribe btn btn-primary btn-block" type="submit" [disabled]="saving">
                                        {{ saving ? 'Saving...' : 'Confirm' }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
