<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>Add Room Allotment</h1>
                    <span>Admit patient to a room</span>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="header"><h2>Allotment Information</h2></div>
                    <div class="body">
                        <form [formGroup]="allotmentForm" (ngSubmit)="submitAllotment()">
                            <div class="form-group">
                                <label>Patient</label>
                                <select class="form-control" formControlName="patientId">
                                    <option value="">Select patient</option>
                                    <option *ngFor="let patient of patients" [value]="patient._id">{{ patientName(patient) }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Room</label>
                                <select class="form-control" formControlName="roomId">
                                    <option value="">Select available room</option>
                                    <option *ngFor="let room of rooms" [value]="room._id">
                                        {{ room.roomNo }} - {{ room.roomType }} - {{ room.chargesPerDay }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Admitted At</label>
                                <input class="form-control" type="datetime-local" formControlName="admittedAt">
                            </div>
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea class="form-control" formControlName="notes"></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit" [disabled]="saving">
                                {{ saving ? 'Saving...' : 'Save Allotment' }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
