<div class="auth-main">
    <div class="auth_div vivify fadeIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="#"><img src="assets/images/icon.svg" width="50"
                    class="d-inline-block align-top mr-2" alt="">Mooli</a>
        </div>
        <div class="card forgot-pass">
            <div *ngIf="!isOtp" class="header">
                <p class="lead"><strong>Oops</strong>,<br> forgot something?</p>
            </div>
            <div *ngIf="isOtp" class="header">
                <p *ngIf="isChangePass" class="lead">Verify Your Identity</p>
                <p *ngIf="!isChangePass" class="lead">Change your Password</p>
                <p *ngIf="isChangePass" class="small text-muted">We've sent a 6-digit code to your email</p>
            </div>
            <div class="body">
                <form [formGroup]="recoveryForm" *ngIf="!isOtp" class="form-auth-small" action="index.html">
                    <div class="form-group c_form_group">
                        <label>Type email to recover password.</label>
                        <input formControlName="email" type="text" class="form-control" placeholder="Register email">
                        <div style="font-size: 13px;"
                            *ngIf="recoveryForm.get('email')?.touched && recoveryForm.get('email')?.errors"
                            class="text-danger">
                            <div *ngIf="recoveryForm.get('email')?.errors?.['required']">Email is required</div>
                            <div *ngIf="recoveryForm.get('email')?.errors?.['email']">Please enter a valid email</div>
                        </div>
                    </div>
                    <button type="submit" (click)="resetPass()"
                        class="btn btn-dark btn-lg btn-block d-flex justify-content-center align-items-center"
                        [disabled]="resLoader">
                        @if (resLoader) {
                        <span *ngIf="resLoader" class="spinner"></span>
                        } @else {
                        RESET PASSWORD
                        }
                    </button>
                    <div class="bottom">
                        <span class="helper-text">Know your password? <a [routerLink]="'/login'"
                                href="javascript:void(0)">Login</a></span>
                    </div>
                </form>
                <form *ngIf="isOtp" [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="form-auth-small">
                    <div *ngIf="isChangePass" class="form-group c_form_group">
                        <label>Verification Code</label>
                        <div class="otp-input-group">
                            <input autocomplete="off" #otpInput0 formControlName="digit0" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 0)"
                                (keydown)="handleKeyDown($event, 0)" (paste)="handlePaste($event)">

                            <input autocomplete="off" #otpInput1 formControlName="digit1" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 1)"
                                (keydown)="handleKeyDown($event, 1)" (paste)="handlePaste($event)">

                            <input autocomplete="off" #otpInput2 formControlName="digit2" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 2)"
                                (keydown)="handleKeyDown($event, 2)" (paste)="handlePaste($event)">

                            <input autocomplete="off" #otpInput3 formControlName="digit3" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 3)"
                                (keydown)="handleKeyDown($event, 3)" (paste)="handlePaste($event)">
                            <input autocomplete="off" #otpInput4 formControlName="digit4" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 4)"
                                (keydown)="handleKeyDown($event, 4)" (paste)="handlePaste($event)">
                            <input autocomplete="off" #otpInput5 formControlName="digit5" type="text"
                                class="form-control otp-box" maxlength="1" (keyup)="handleKeyUp($event, 5)"
                                (keydown)="handleKeyDown($event, 5)" (paste)="handlePaste($event)">
                        </div>
                    </div>
                    <div *ngIf="!isChangePass" class="form-group c_form_group">
                        <div class="input-group flex">
                            <input autocomplete="off" [type]="showNewPassword ? 'text' : 'password'"
                                class="form-control" placeholder="New password" formControlName="newPassword">
                            <div class="input-group-append">
                                <i (click)="togglePasswordVisibility('newPassword')" class="fa"
                                    [ngClass]="{'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
                            </div>
                        </div>
                        <div *ngIf="recoveryForm.get('newPassword')?.touched && recoveryForm.get('newPassword')?.errors"
                            class="text-danger">
                            <div style="font-size: 13px;" *ngIf="recoveryForm.get('newPassword')?.errors?.['required']">
                                Password is required
                            </div>
                            <div style="font-size: 13px;"
                                *ngIf="recoveryForm.get('newPassword')?.errors?.['minlength']">Password must be at
                                least 6 characters</div>
                        </div>
                    </div>
                    <button *ngIf="isChangePass" (click)="changePass()" type="submit"
                        class="btn btn-dark btn-lg btn-block">VERIFY</button>
                    <button *ngIf="!isChangePass" type="submit" (click)="verifyOtp()"
                        class="btn btn-dark btn-lg btn-block d-flex justify-content-center align-items-center"
                        [disabled]="resLoader">
                        @if (resLoader) {
                        <span *ngIf="resLoader" class="spinner"></span>
                        } @else {
                        Change Password
                        }
                    </button>

                    <div class="bottom">
                        <span class="helper-text m-b-10" *ngIf="showCountdown">
                            <i class="fa fa-clock-o"></i>
                            <span id="countdown">{{countdownDisplay}}</span> remaining
                        </span>
                        <span *ngIf="!showCountdown">
                            Didn't receive code?
                            <a href="javascript:void(0)" (click)="resend()">Resend</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="animate_lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>