<div id="main-content" #pdfContent class="prescription-table" dir="rtl">
    <div class="wrapper">
        <div class="title">
            <div class="dr-title">
                <span class="bold" style="width: 100%; display: flex;">ڈاکٹر عادل محمود رانجھا</span>
                <span class="degree urdu-profession">ایم بی بی ایس، ایف سی پی ایس</span>
                <span class="degree left urdu-title">اسسٹنٹ پروفیسر، میڈیکل یونٹ ۱</span>
                <span class="degree left urdu-hospital">بہاول وکٹوریہ ہسپتال</span>
            </div>
            <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                <img src="assets/images/icon.svg" alt="Mooli Logo" class="img-fluid logo">
                <span>Mooli Hospital</span>
            </div>
            <div class="dr-title">
                <span class="bold">Dr Adil Mehmood Ranjha</span>
                <span class="degree left eng-profession">MBBS, FCPS</span>
                <span class="degree left eng-title">Assistant Professor Medical Unit 1</span>
                <span class="degree left eng-hospital">Bahawalpur Victoria Hospital</span>
            </div>
        </div>
        <div class="center-title">
            <div class="title-box">
                <div class="date">Date: 22-JUNE-2025</div>
                <div style="text-transform: uppercase;">Not valid for court of law</div>
            </div>
        </div>
        <div class="patient-details">
            <div class="row">
                <div class="col-2 bold">Patient Name</div>
                <div class="col-4">Riffat Iqbal</div>
                <div class="col-1 bold">Age</div>
                <div class="col-1">55</div>
                <div class="col-1 bold">Sex</div>
                <div class="col-1">F</div>
                <div class="col-1 bold">.F.No</div>
                <div class="col-1">4</div>
            </div>
            <div class="row" style="border-top: 0;">
                <div class="col-2 bold">Address</div>
                <div class="col-4">Bahawalpur</div>
                <div class="col-2 bold">Cell No</div>
                <div class="col-4">03123910910</div>
            </div>
            <div class="row" style="border-top: 0;">
                <div class="col-2 bold">Disease</div>
                <div class="col-10"></div>
            </div>
        </div>
        <div class="rem-wrapper">
            <div class="lab-wrapper">
                <div class="lab-table">
                    <div class="row" style="justify-content: flex-end;">
                        <div class="col-6" style="border: 1px solid black; border-bottom: none; font-weight: bold;">O/E
                        </div>
                    </div>
                    <div class="row" style="justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">BP</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">WT kg</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">PR/min</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">BSR</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">TEMP</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">R/R/min</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">SPO2</div>
                    </div>
                </div>
                <div class="lab-table">
                    <div class="row" style="justify-content: flex-end;">
                        <div class="col-6" style="border: 1px solid black; border-bottom: none; font-weight: bold;">
                            LAB's
                        </div>
                    </div>
                    <div class="row" style="justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 bold align-center">MAY 22</div>
                        <div class="col-3 bold align-center" style="border-right: 1px solid black;">AUG 22</div>
                        <div class="col-6 d-flex align-items-center align-center justify-content-center"
                            style="border-right: 1px solid black; font-size: 14px;">DATED
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">13.4
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">CBC
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">13.4
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">CREATE
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">ALTLEY
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">1.77</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">TSH
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">LIPIDS
                            FROM
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            BEVERS
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            U/C
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            27
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            ESR
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">7.8</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            HBAIC
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            UPRICA
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">7.8</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            RAFICT
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">1.99</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            T2
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">8.86</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            T4
                        </div>
                    </div>
                </div>
                OTHERS
            </div>
            <div class="medicine-wrapper">
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title">MEDICINES</div>
                    <div class="col-2 align-center">Duration</div>
                    <div class="col-1 align-center">After Meal</div>
                    <div class="col-1 align-center">Before Meal</div>
                    <div class="col-1 align-center">Morning</div>
                    <div class="col-1 align-center">Noon</div>
                    <div class="col-1 align-center">Evening</div>
                    <div class="col-1 align-center">Night</div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                    <div class="col-2 align-center">Continue</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                    <div class="col-2 align-center">Continue</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-4 align-center twice">Twice per week</div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                    <div dir="ltr" class="col-2 align-center">1 Month</div>
                    <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title"> <span></span></div>
                    <div class="col-2 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="row" style="flex-direction: row-reverse;">
                    <div class="col-4 med-title tab-title"> <span></span></div>
                    <div class="col-2 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                    <div class="col-1 align-center"></div>
                </div>
                <div class="precautions">
                    PRECAUTIONS
                </div>
            </div>
        </div>
    </div>
</div>

<button (click)="downloadPDF()">Download PDF</button>