<div id="main-content" #pdfContent class="prescription-table" dir="rtl">
    <div class="wrapper">
        <div class="title">
            <div class="dr-title">
                <span class="bold" style="width: 100%; display: flex;">ڈاکٹر عادل محمود رانجھا</span>
                <span class="degree urdu-profession">ایم بی بی ایس، ایف سی پی ایس</span>
                <span class="degree left urdu-title">اسسٹنٹ پروفیسر، میڈیکل یونٹ ۱</span>
                <span class="degree left urdu-hospital">بہاول وکٹوریہ ہسپتال</span>
            </div>
            <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                <img src="assets/images/shafi2.png" alt="He is the Healer" class="img-fluid logo">
            </div>
            <div class="dr-title">
                <span class="bold">Dr Adil Mehmood Ranjha</span>
                <span class="degree left eng-profession">MBBS, FCPS</span>
                <span class="degree left eng-title">Assistant Professor Medical Unit 1</span>
                <span class="degree left eng-hospital">Bahawalpur Victoria Hospital</span>
            </div>
        </div>
        <div class="center-title">
            <div class="title-box">
                <div class="date">Date: 22-JUNE-2025</div>
                <div style="text-transform: uppercase;">Not valid for court of law</div>
            </div>
        </div>
        <div class="patient-details">
            <div class="row">
                <div class="col-2 bold">Patient Name</div>
                <div class="col-4">Riffat Iqbal</div>
                <div class="col-1 bold">Age</div>
                <div class="col-1">55</div>
                <div class="col-1 bold">Sex</div>
                <div class="col-1">F</div>
                <div class="col-1 bold">.F.No</div>
                <div class="col-1">4</div>
            </div>
            <div class="row" style="border-top: 0;">
                <div class="col-2 bold">Address</div>
                <div class="col-4">Bahawalpur</div>
                <div class="col-2 bold">Cell No</div>
                <div class="col-4">03123910910</div>
            </div>
            <div class="row" style="border-top: 0;">
                <div class="col-2 bold">Disease</div>
                <div class="col-10"></div>
            </div>
        </div>
        <div class="rem-wrapper">
            <div class="lab-wrapper">
                <div class="lab-table">
                    <div class="row" style="justify-content: flex-end;">
                        <div class="col-6" style="border: 1px solid black; border-bottom: none; font-weight: bold;">O/E
                        </div>
                    </div>
                    <div class="row" style="justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">BP</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">WT kg</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">PR/min</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">BSR</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">TEMP</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">R/R/min</div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-6 align-center"></div>
                        <div class="col-6" style="border-right: 1px solid black; font-weight: bold;">SPO2</div>
                    </div>
                </div>
                <div class="lab-table">
                    <div class="row" style="justify-content: flex-end;">
                        <div class="col-6" style="border: 1px solid black; border-bottom: none; font-weight: bold;">
                            LAB's
                        </div>
                    </div>
                    <div class="row" style="justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 bold align-center">MAY 22</div>
                        <div class="col-3 bold align-center" style="border-right: 1px solid black;">AUG 22</div>
                        <div class="col-6 d-flex align-items-center align-center justify-content-center"
                            style="border-right: 1px solid black; font-size: 14px;">DATED
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">13.4
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">CBC
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">13.4
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">CREATE
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">ALTLEY
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">1.77</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">TSH
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">LIPIDS
                            FROM
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            BEVERS
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            U/C
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            27
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            ESR
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">7.8</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black; font-weight: bold;">
                            HBAIC
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;"></div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            UPRICA
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">7.8</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            RAFICT
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">1.99</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            T2
                        </div>
                    </div>
                    <div class="row"
                        style="border-top: 0 !important; justify-content: flex-end; border: 1px solid black;">
                        <div class="col-3 align-center" style="font-weight: bold;">8.86</div>
                        <div class="col-3 align-center" style="border-right: 1px solid black; font-weight: bold;">
                        </div>
                        <div class="col-6 align-center" style="border-right: 1px solid black;">
                            T4
                        </div>
                    </div>
                </div>
                <div class="w-full others">
                    OTHERS
                </div>
            </div>
            <div class="w-full">
                <div class="medicine-wrapper">
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title">MEDICINES</div>
                        <div class="col-2 align-center">Duration</div>
                        <div class="col-1 align-center">After Meal</div>
                        <div class="col-1 align-center">Before Meal</div>
                        <div class="col-1 align-center">Morning</div>
                        <div class="col-1 align-center">Noon</div>
                        <div class="col-1 align-center">Evening</div>
                        <div class="col-1 align-center">Night</div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                        <div class="col-2 align-center">Continue</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                        <div class="col-2 align-center">Continue</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span>(Panadol)</span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-4 align-center twice">Twice per week</div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title">TAB COUGH SYRUP <span></span></div>
                        <div dir="ltr" class="col-2 align-center">1 Month</div>
                        <div class="col-6 align-center twice">Before 1 hour of breakfast</div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title"> <span></span></div>
                        <div class="col-2 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="row" style="flex-direction: row-reverse;">
                        <div class="col-4 med-title tab-title"> <span></span></div>
                        <div class="col-2 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                        <div class="col-1 align-center"></div>
                    </div>
                    <div class="precautions">
                        <span class="w-full note">:Note</span>
                        Symptoms of low blood sugar include cold sweats, anxiety, restlessness, body shivering,
                        intense hunger, and drowsiness. In case of unconsciousness, do not delay — take the patient
                        immediately to the emergency department or consult a doctor. If blood sugar drops, immediately
                        eat sugar,
                        consume .2–3 toffees, or take 2–3 spoons of Glaxose-D. You can also eat 5–10 dates or sweet
                        biscuits
                    </div>
                </div>
                <div class="w-full align-center rx">
                    *Rx to be revised after Reports.
                </div>
            </div>
        </div>
        <div class="foot-wrapper w-full">
            <div class="foot-container">
                <div class="bold border">Youtube.com/&#64;DrAdilRanjha</div>
                <div class="bold dashed">
                    .For more information about your illness, please visit Dr. Adil Mahmood’s YouTube channel provided
                    above
                </div>
            </div>
            <div class="foot-container">
                <div class="bold" style="text-align: start;">
                    For booking an appointment in Bahawalpur Clinic, please contact between 5:30 PM and 7:00 PM
                    Contact Number: 0308-4424199
                </div>
                <div>
                    <span class="bold">Note:</span> The <span class="bold">INFLUVAC 0.5ml</span> vaccine should be
                    administered annually in
                    September or
                    Octobers
                </div>
            </div>
            <div style="margin-top: 2rem;" class="foot-container justify-content-center">
                <div class="align-center center-content">
                    Please send voice messages only on WhatsApp <span class="bold">do not call</span>
                    0321-6806233
                </div>
            </div>
            <div style="margin-top: 8px;" class="foot-container justify-content-center">
                <div class="align-center center-content">
                    The clinic is open on Saturday or Sunday at Dar Al Shifa Hospital, Kotla Moosa Road, Ahmadpur East
                </div>
            </div>
            <div style="margin-top: 8px;" class="foot-container justify-content-center">
                <div class="align-center center-content">
                    Clinic Address: 292-CA, Liaquat Road, Model Town A, Bahawalpur
                    E-mail: adilgemini&#64;gmail.com
                </div>
            </div>
        </div>
    </div>
</div>

<button (click)="downloadPDF()">Download PDF</button>