<div id="main-content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h1>{{ editingPatient ? 'Edit Patient' : 'Add Patient' }}</h1>
                    <span>{{ editingPatient ? 'Update patient profile' : 'Create patient profile' }}</span>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Patient Information</h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="patientForm" (ngSubmit)="submitPatient()">
                            <div class="row clearfix">
                                <div class="col-md-4 form-group">
                                    <label>First Name</label>
                                    <input class="form-control" formControlName="firstName">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" formControlName="lastName">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Email</label>
                                    <input class="form-control" formControlName="email">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Phone</label>
                                    <input class="form-control" formControlName="phone">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Gender</label>
                                    <select class="form-control" formControlName="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Date of Birth</label>
                                    <input class="form-control" type="date" formControlName="dateOfBirth">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Blood Group</label>
                                    <select class="form-control" formControlName="bloodGroup">
                                        <option value="">Select blood group</option>
                                        <option *ngFor="let bloodGroup of bloodGroups" [value]="bloodGroup">{{ bloodGroup }}</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Address</label>
                                    <input class="form-control" formControlName="address">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Emergency Contact Name</label>
                                    <input class="form-control" formControlName="emergencyContactName">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Emergency Contact Phone</label>
                                    <input class="form-control" formControlName="emergencyContactPhone">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Allergies</label>
                                    <input class="form-control" formControlName="allergies" placeholder="Comma separated">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Chronic Diseases</label>
                                    <input class="form-control" formControlName="chronicDiseases" placeholder="Comma separated">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Current Medications</label>
                                    <input class="form-control" formControlName="currentMedications" placeholder="Comma separated">
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit" [disabled]="saving">
                                {{ saving ? 'Saving...' : editingPatient ? 'Update Patient' : 'Save Patient' }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
